{% extends 'blog/base.html' %}

{% block content %}
    <div class="post container">
        <div class="row">
            <div class="col-4">
                <h2>{{ post.title|title }}</h2>
            </div>
            <div class="col text-right">
                <div class="date">
                    {% if post.published_date %}
                            {{ post.published_date }}
                    {% else %}
                        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ post.text|linebreaksbr }}</p>
                <div class="date heart">
                    {{ post.views }} views &nbsp; | &nbsp;
                    <a href="{% url 'post_like' pk=post.pk %}">
                        {% if liked %}
                        <span class="glyphicon glyphicon-heart liked"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-heart"></span>
                        {% endif %}
                    </a>
                    {{ post.likes_count }} &nbsp; | &nbsp;
                    {{ percent|floatformat:2 }} %
                </div>
            </div>
        </div>
    </div>
    <hr />
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">
        Add comment
    </a>

    {% comment 'name of my first template comment' %}
        the next block show all comments
    {% endcomment %}

    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>&nbsp;</p>
        <p>No comments here yet :(</p>
    {% endfor %}

{% endblock %}